*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #F6F6F6;
    color: #363636;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link{
    display: flex;
    color: #363636;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link:hover{
    background:#FDA058;
    color: #F6F6F6;
    transition: all 0.5s;
}
.active{
    background: #FDA058;
    color: #F6F6F6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon, .link_text{
    font-size: 18px;
}
